html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
::-moz-selection {
  background: #31ddb4;
  color: #fff;
}
::selection {
  background: #31ddb4;
  color: #fff;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 10px;
}
body {
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-variant-ligatures: none;
  background: #333;
}
.button {
  display: inline-block;
  width: auto;
  height: auto;
  color: #fff;
  background: #31ddb4;
  padding: 0.7em 1.6em;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 10em;
}
.button:hover {
  color: #fff;
  background: #22d1a7;
}
.button-ghost {
  background: transparent;
  border: 1px solid #31ddb4;
  font-weight: 600;
  font-size: 1.3em;
  color: #31ddb4;
}
.button-off {
  background: #bbb;
  pointer-events: none;
  cursor: default;
}
.header {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-top: 5px solid #31ddb4;
  background-image: url("../img/bg-header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
.header-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  z-index: 10;
  height: 100vh;
  background: url("../img/dots.png") rgba(51,51,51,0.8);
}
.header-wrapper:before,
.header-wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
}
.header-wrapper:before {
  background: #3decc2;
  right: 50%;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  bottom: -200px;
}
@media only screen and (max-width: 580px) {
  .header-wrapper:before {
    bottom: -300px;
  }
}
.header-wrapper:after {
  background: #31ddb4;
  left: 51%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  bottom: -195px;
}
@media only screen and (max-width: 580px) {
  .header-wrapper:after {
    bottom: -290px;
  }
}
.header-content {
  width: 100%;
  margin-top: -100px;
  text-align: center;
  padding: 0 2em;
}
.header-content:before {
  content: '';
  width: 500px;
  height: 1000px;
  border-left: 1px solid #31ddb4;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -500px;
  right: -300px;
}
@media only screen and (max-width: 580px) {
  .header-content:before {
    display: none;
  }
}
.header-content:after {
  content: '';
  width: 100px;
  height: 400px;
  border-right: 1px solid #31ddb4;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -200px;
  left: 0;
}
@media only screen and (max-width: 580px) {
  .header-content:after {
    display: none;
  }
}
.header-info {
  color: #fff;
  font-size: 3rem;
  margin: 0;
  padding: 1em 0;
}
.header-info a {
  color: #fff;
  text-decoration: none;
}
.header-info a:hover {
  color: #31ddb4;
}
.header-info span {
  color: #31ddb4;
}
@media only screen and (max-width: 580px) {
  .header-info {
    font-size: 2.5rem;
  }
}
.header-support {
  padding-top: 2em;
}
.header-support__link {
  display: inline-block;
  margin: 0 0.5em;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.header-support__link:hover {
  border-bottom: 1px solid #31ddb4;
}
.header-support__divisor {
  color: #000;
  font-weight: bold;
}
.header-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 580px) {
  .header-video {
    display: none;
  }
}
.header-logo {
  margin: 0 auto;
  padding: 0;
  width: 300px;
  height: 300px;
  text-indent: -9999em;
  background-image: url("../svg/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 580px) {
  .header-logo {
    width: 240px;
    height: 240px;
  }
}
.features {
  position: relative;
  padding: 15em 0 30em;
  background: #fff;
  overflow: hidden;
}
@media only screen and (max-width: 580px) {
  .features {
    padding-top: 8em;
  }
}
.features:before {
  content: '';
  width: 100px;
  height: 400px;
  border-right: 1px solid #31ddb4;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -100px;
  left: -100px;
}
@media only screen and (max-width: 580px) {
  .features:before {
    display: none;
  }
}
.features:after {
  content: '';
  width: 100%;
  height: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/florianopolis-skyline.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 1;
}
@media only screen and (max-width: 580px) {
  .features:after {
    background-size: 300%;
  }
}
.features-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
  position: relative;
}
@media only screen and (max-width: 580px) {
  .features-wrapper {
    display: block;
  }
}
.features-column-title {
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}
@media only screen and (max-width: 580px) {
  .features-column-title {
    margin-bottom: 8em;
  }
}
@media only screen and (max-width: 580px) {
  .features-column-title .button-ghost {
    display: none;
  }
}
.features-column-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.features-title {
  color: #555;
  font-weight: bold;
  font-size: 7em;
  margin: 0;
}
@media only screen and (max-width: 580px) {
  .features-title {
    font-size: 5em;
  }
}
.features-description {
  color: #777;
  font-weight: normal;
  font-size: 1.6em;
  margin: 2em 0;
  line-height: 1.6;
}
.features-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 1em;
  counter-reset: section;
}
.features-list-item {
  padding-left: 25em;
  position: relative;
  margin-bottom: 6em;
}
@media only screen and (max-width: 580px) {
  .features-list-item {
    padding-left: 0;
  }
}
.features-list-item:before {
  counter-increment: section;
  content: counter(section);
  font-size: 13em;
  position: absolute;
  left: 1em;
  top: -10px;
  line-height: 1;
  margin: 0;
  font-weight: bold;
  color: #f0f0f0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}
@media only screen and (max-width: 580px) {
  .features-list-item:before {
    display: none;
  }
}
.features-list-item__title {
  font-size: 4.5em;
  font-weight: 600;
  margin: 0;
  background-image: -webkit-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -moz-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -ms-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -o-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -webkit-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -moz-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -ms-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -o-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: linear-gradient(-45deg,#22d1a7,#3decc2);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 580px) {
  .features-list-item__title {
    font-size: 3.8em;
    letter-spacing: -0.03em;
  }
}
.features-list-item__description {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.6;
  color: #ccc;
}
.speakers {
  position: relative;
  padding: 14em 0;
  background-color: #ececec;
}
.speakers-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
}
.speakers-title {
  text-align: center;
}
.speakers-title span {
  position: relative;
  display: inline-block;
  font-size: 5em;
  color: #555;
  margin: 0;
  font-weight: bold;
  z-index: 2;
}
.speakers-title span:before {
  content: '';
  width: 100%;
  height: 10px;
  border-bottom: 10px solid #31ddb4;
  -webkit-transform: rotate(-0.7deg);
  -ms-transform: rotate(-0.7deg);
  transform: rotate(-0.7deg);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.speakers-title__presenter {
  margin-top: 10em;
}
.speakers-title__presenter span:before {
  border-color: #f8f8f8;
}
.speakers-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 10em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.speakers-list__presenter {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-top: 9em;
}
.speakers-list-item {
  position: relative;
  margin-bottom: 4em;
  background-color: #fff;
  width: 48%;
  padding: 1.6em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
@media only screen and (max-width: 580px) {
  .speakers-list-item {
    width: 98%;
  }
}
.speakers-list-item__status-off {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.speakers-list-item:before {
  content: '';
  width: 100px;
  height: 100px;
  background-color: #ececec;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: -70px;
  right: -70px;
  border-left: 1px solid #ddd;
}
.speakers-list-item__presenter {
  background: #3decc2;
}
.speakers-list-item__presenter .speakers-list-item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.speakers-list-item__presenter .speakers-list-item__title {
  font-size: 4em;
}
@media only screen and (max-width: 580px) {
  .speakers-list-item__presenter .speakers-list-item__title {
    font-size: 3em;
  }
}
.speakers-list-item__presenter .speakers-list-item__company {
  color: #fff;
  margin-top: 0;
  font-size: 2em;
}
.speakers-list-item__presenter:before {
  border-color: #15d8aa;
}
.speakers-list-item-photo {
  -webkit-flex-basis: 35%;
  -ms-flex-basis: 35%;
  flex-basis: 35%;
}
.speakers-list-item-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 2em;
}
.speakers-list-item__avatar {
  max-width: 100%;
}
.speakers-list-item__title {
  font-size: 2.8em;
  font-weight: bold;
  color: #555;
  margin: 0;
  letter-spacing: -0.03em;
}
.speakers-list-item__company {
  display: block;
  margin-top: 0.3em;
  font-size: 1.6em;
  color: #aaa;
  font-weight: normal;
}
.speakers-list-item__social {
  margin: 1.3em 0;
}
.speakers-list-item__social-link {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-indent: -9999em;
  margin-right: 10px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.speakers-list-item__social-link:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.speakers-list-item__social-link.github {
  background-image: url("../svg/icon-github.svg");
}
.speakers-list-item__social-link.twitter {
  background-image: url("../svg/icon-twitter.svg");
}
.speakers-list-item__talk {
  color: #31ddb4;
  font-weight: 600;
  font-size: 2.2em;
  margin: 0;
  line-height: 1.1;
}
.location-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 580px) {
  .location-wrapper {
    display: block;
  }
}
.location-column.content {
  -webkit-flex-basis: 45%;
  -ms-flex-basis: 45%;
  flex-basis: 45%;
  background: #3decc2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.location-column.photo {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url("../img/hotel.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media only screen and (max-width: 580px) {
  .location-column.photo {
    display: none;
  }
}
.location-column.photo:before {
  content: '';
  width: 200px;
  height: 1000px;
  background: #3decc2;
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
  position: absolute;
  top: -100px;
  left: -100px;
}
@media only screen and (max-width: 1000px) {
  .location-column.photo:before {
    height: 1300px;
  }
}
@media only screen and (max-width: 580px) {
  .location-column.photo:before {
    display: none;
  }
}
.location-content {
  padding-top: 7em;
  padding-bottom: 7em;
  width: 80%;
}
@media only screen and (max-width: 580px) {
  .location-content {
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
  }
}
.location-content-discount {
  margin-top: 5em;
  padding-top: 2em;
  border-top: 1px solid rgba(255,255,255,0.3);
}
.location-content-discount .button {
  font-size: 1.3em;
  background: #fff;
  margin-left: 1em;
  color: #555;
  font-weight: 600;
  -webkit-transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
}
.location-content-discount .button:hover {
  box-shadow: 0 0 50px 10px rgba(21,216,170,0.6);
}
.location-content-discount__text {
  margin: 0.3em 0 1em;
  font-size: 1.4em;
  line-height: 1.6;
  color: #444;
}
.location-content-discount__text strong {
  font-weight: 600;
}
.location-content-discount__text strong.up {
  font-size: 1.2em;
}
.location-content-discount__code {
  display: inline-block;
  margin: 1em 0;
  font-size: 1.5em;
  padding: 0.5em 1em;
  color: #444;
  border: 1px dashed #fff;
  font-weight: 600;
}
.location-content-address {
  position: relative;
  padding-left: 10em;
}
.location-content-address:before {
  content: '';
  width: 70px;
  height: 100px;
  position: absolute;
  top: -7px;
  left: 0;
  background-image: url("../svg/icon-location.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
}
.location-content-address .button {
  font-size: 1.6em;
  background: #fff;
  margin-top: 1em;
  color: #555;
  font-weight: 600;
  -webkit-transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
}
.location-content-address .button:hover {
  box-shadow: 0 0 50px 10px rgba(21,216,170,0.6);
}
.location-title {
  color: #555;
  font-size: 4.5em;
  font-weight: bold;
  margin: 0;
  letter-spacing: -0.05em;
}
@media only screen and (max-width: 580px) {
  .location-title {
    font-size: 4em;
  }
}
.location-description {
  font-size: 2em;
  font-weight: 600;
  color: #555;
  margin: 0.6em 0;
  line-height: 1.5;
}
@media only screen and (max-width: 580px) {
  .location-description {
    font-size: 1.6em;
  }
}
.schedule {
  padding: 10em 0 12em;
  background: #fff;
}
.schedule-note {
  text-align: center;
  color: #ccc;
  padding: 0 2em;
  font-size: 1.3em;
  line-height: 1.8;
}
.schedule-list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  padding: 8em 0 4em;
}
@media only screen and (max-width: 580px) {
  .schedule-list {
    padding-right: 3em;
  }
}
.schedule-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3em 0 2em;
}
.schedule-list-item-time {
  position: relative;
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
  padding-right: 4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
@media only screen and (max-width: 580px) {
  .schedule-list-item-time {
    padding-right: 3em;
  }
}
.schedule-list-item-time:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  width: 0;
  height: 30px;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  border-right: 1px solid #3decc2;
}
@media only screen and (max-width: 580px) {
  .schedule-list-item-time:after {
    height: 20px;
    top: 3px;
  }
}
.schedule-list-item-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 4em;
}
@media only screen and (max-width: 580px) {
  .schedule-list-item-content {
    padding-left: 3em;
  }
}
.schedule-list-item__time {
  font-size: 3em;
  font-weight: bold;
  color: #ddd;
  letter-spacing: -0.06em;
}
@media only screen and (max-width: 580px) {
  .schedule-list-item__time {
    font-size: 2.2em;
  }
}
.schedule-list-item__title {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(135deg,#555,#888);
  background-image: -moz-linear-gradient(135deg,#555,#888);
  background-image: -ms-linear-gradient(135deg,#555,#888);
  background-image: -o-linear-gradient(135deg,#555,#888);
  background-image: -webkit-linear-gradient(135deg,#555,#888);
  background-image: -moz-linear-gradient(135deg,#555,#888);
  background-image: -ms-linear-gradient(135deg,#555,#888);
  background-image: -o-linear-gradient(135deg,#555,#888);
  background-image: linear-gradient(-45deg,#555,#888);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.03em;
}
@media only screen and (max-width: 580px) {
  .schedule-list-item__title {
    font-size: 2.2em;
  }
}
.schedule-list-item__talk {
  margin: 0.3em 0 0 0;
  padding: 0;
  font-size: 1.6em;
  font-weight: normal;
  color: #555;
  line-height: 1.4;
}
@media only screen and (max-width: 580px) {
  .schedule-list-item__talk {
    font-size: 1.4em;
  }
}
.schedule-list-item--talk {
  padding: 2em 0;
}
.schedule-list-item--talk .schedule-list-item-time:after {
  display: none;
}
.schedule-list-item--talk .schedule-list-item__time {
  display: none;
}
.schedule-list-item--talk .schedule-list-item__title {
  background-image: -webkit-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -moz-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -ms-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -o-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -webkit-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -moz-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -ms-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: -o-linear-gradient(135deg,#22d1a7,#3decc2);
  background-image: linear-gradient(-45deg,#22d1a7,#3decc2);
}
.tickets {
  padding: 10em 0;
  background-image: url("../img/audience.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
.tickets-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
  text-align: center;
}
.tickets-title {
  position: relative;
  text-align: center;
  padding-top: 2.5em;
  color: #3decc2;
  font-size: 5em;
  margin: 0;
}
.tickets-title:before {
  content: '';
  width: 70px;
  height: 105px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -35px;
  background-image: url("../svg/icon-ticket.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
}
.tickets-description {
  margin: 0.5em 0;
  font-size: 4em;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.tickets-note {
  margin: 0;
  font-size: 1.4em;
  color: #aaa;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;
}
.tickets-note a {
  color: #eee;
  border-bottom: 1px solid #555;
  text-decoration: none;
  padding-bottom: 2px;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
}
.tickets-note a:hover {
  border-color: #31ddb4;
}
.tickets .button {
  margin-top: 3em;
  font-size: 2em;
  font-weight: 600;
}
.support {
  position: relative;
  background: #fff;
  padding: 10em 0 25em;
}
.support:after {
  content: '';
  width: 100%;
  height: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/florianopolis-skyline.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 1;
}
@media only screen and (max-width: 580px) {
  .support:after {
    background-size: 300%;
  }
}
.support-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
}
.support-title {
  text-align: center;
}
.support-title span {
  position: relative;
  display: inline-block;
  font-size: 4em;
  color: #555;
  margin: 0;
  font-weight: bold;
  z-index: 2;
}
@media only screen and (max-width: 580px) {
  .support-title span {
    font-size: 3.6em;
  }
}
.support-title span:before {
  content: '';
  width: 100%;
  height: 10px;
  border-bottom: 10px solid #eee;
  -webkit-transform: rotate(-0.7deg);
  -ms-transform: rotate(-0.7deg);
  transform: rotate(-0.7deg);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.support-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 5em 0 10em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 10;
  position: relative;
}
.support-list.apoio .support-item {
  margin: 2em 1.4em;
}
.support-list.apoio .support-link img {
  max-width: 100px;
}
.support-item {
  margin: 3.5em 1em;
}
.support-link {
  text-decoration: none;
  border: 0;
}
.support-link img {
  max-width: 300px;
}
.footer {
  padding: 5em 0;
  background-color: #ececec;
}
.footer-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 580px) {
  .footer-wrapper {
    display: block;
  }
}
.footer-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 2em 0;
}
@media only screen and (max-width: 580px) {
  .footer-column.coc {
    text-align: center;
  }
}
.footer-column.email {
  text-align: center;
}
.footer-column.social {
  text-align: right;
}
@media only screen and (max-width: 580px) {
  .footer-column.social {
    text-align: center;
  }
}
.footer-email {
  color: #555;
  font-size: 1.4em;
  font-weight: 600;
}
.footer-link {
  color: #555;
  font-size: 1.4em;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2px;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
}
.footer-link:hover {
  border-color: #3decc2;
}
.footer-social {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-social-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}
@media only screen and (max-width: 580px) {
  .footer-social-item {
    margin: 0 0.7em;
  }
}
.footer-social-link {
  display: block;
  text-indent: -9999em;
  width: 25px;
  height: 25px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-size: 0;
  text-decoration: none;
  border: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.footer-social-link:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.footer-social-link.twitter {
  background-image: url("../svg/icon-twitter-circle.svg");
}
.footer-social-link.facebook {
  background-image: url("../svg/icon-facebook-circle.svg");
}
.footer-social-link.github {
  background-image: url("../svg/icon-github-circle.svg");
}
.footer-social-link img {
  max-width: 50px;
}
