html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
::-moz-selection {
  background: #333;
  color: #fff;
}
::selection {
  background: #333;
  color: #fff;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 10px;
}
body {
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-variant-ligatures: none;
  background: #333;
}
.button {
  display: inline-block;
  width: auto;
  height: auto;
  color: #fff;
  background: #31ddb4;
  padding: 0.7em 1.6em;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 10em;
}
.button:hover {
  color: #fff;
  background: #22d1a7;
}
.header {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-top: 5px solid #31ddb4;
  background-image: url("../img/bg-header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
.header-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  z-index: 10;
  height: 100vh;
  background: url("../img/dots.png") rgba(51,51,51,0.8);
}
.header-wrapper:before,
.header-wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
}
.header-wrapper:before {
  background: #3decc2;
  right: 50%;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  bottom: -200px;
}
@media only screen and (max-width: 580px) {
  .header-wrapper:before {
    bottom: -300px;
  }
}
.header-wrapper:after {
  background: #31ddb4;
  left: 51%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  bottom: -195px;
}
@media only screen and (max-width: 580px) {
  .header-wrapper:after {
    bottom: -290px;
  }
}
.header-content {
  width: 100%;
  margin-top: -100px;
  text-align: center;
  padding: 0 2em;
}
.header-content:before {
  content: '';
  width: 500px;
  height: 1000px;
  border-left: 1px solid #31ddb4;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -500px;
  right: -300px;
}
@media only screen and (max-width: 580px) {
  .header-content:before {
    display: none;
  }
}
.header-content:after {
  content: '';
  width: 100px;
  height: 400px;
  border-right: 1px solid #31ddb4;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -200px;
  left: 0;
}
@media only screen and (max-width: 580px) {
  .header-content:after {
    display: none;
  }
}
.header-info {
  color: #fff;
  font-size: 3rem;
  margin: 0;
  padding: 1em 0;
}
.header-info a {
  color: #fff;
  text-decoration: none;
}
.header-info a:hover {
  color: #31ddb4;
}
.header-info span {
  color: #31ddb4;
}
@media only screen and (max-width: 580px) {
  .header-info {
    font-size: 2.5rem;
  }
}
.header-support {
  padding-top: 2em;
}
.header-support__link {
  display: inline-block;
  margin: 0 0.5em;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.header-support__link:hover {
  border-bottom: 1px solid #31ddb4;
}
.header-support__divisor {
  color: #000;
  font-weight: bold;
}
.header-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 580px) {
  .header-video {
    display: none;
  }
}
.header-logo {
  margin: 0 auto;
  padding: 0;
  width: 300px;
  height: 300px;
  text-indent: -9999em;
  background-image: url("../svg/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 580px) {
  .header-logo {
    width: 240px;
    height: 240px;
  }
}
