.header
  height 100%
  position relative
  overflow hidden
  border-top 5px solid $color-primary
  bg('img', 'bg-header.jpg')

  &-wrapper
    position relative
    display flex
    justify-content center
    align-items center
    z-index 10
    height 100vh
    background url($path-img + 'dots.png') rgba($color-default, .8)

    &:before,
    &:after
      content ''
      position absolute
      width 100%
      height 400px

    &:before
      background $color-primary-alt
      right 50%
      transform rotate(10deg)
      bottom -200px

      +below('phone')
        bottom @bottom - 100

    &:after
      background $color-primary
      left 51%
      transform rotate(-10deg)
      bottom -195px

      +below('phone')
        bottom @bottom - 95

  &-content
    width 100%
    margin-top -100px
    text-align center
    padding 0 2em

    &:before
      content ''
      width 500px
      height 1000px
      border-left 1px solid $color-primary
      transform rotate(-45deg)
      position absolute
      top -500px
      right -300px

      +below('phone')
        display none

    &:after
      content ''
      width 100px
      height 400px
      border-right 1px solid $color-primary
      transform rotate(45deg)
      position absolute
      top -200px
      left 0

      +below('phone')
        display none

  &-info
    color #fff
    font-size 3rem
    margin 0
    padding 1em 0

    a
      color #fff
      text-decoration none

      &:hover
        color $color-primary

    span
      color $color-primary

    +below('phone')
      font-size 2.5rem

  &-support
    padding-top 2em

    &__link
      display inline-block
      margin 0 .5em
      color #fff
      font-size 1.4rem
      font-weight normal
      text-decoration none
      padding-bottom 3px
      border-bottom 1px solid transparent
      transition border .3s ease

      &:hover
        border-bottom 1px solid $color-primary

    &__divisor
      color #000
      font-weight bold

  &-video
    position absolute
    top 0
    left 0
    min-width 100%
    min-height 100%
    width auto
    height auto

    +below('phone')
      display none

  &-logo
    margin 0 auto
    padding 0
    width 300px
    height @width
    text-indent -9999em
    bg('svg', 'logo.svg')

    +below('phone')
      width 240px
      height @width

.features
  position relative
  padding 15em 0 30em
  background #fff
  overflow hidden

  +below('phone')
    padding-top 8em

  &:before
    content ''
    width 100px
    height 400px
    border-right 1px solid $color-primary
    transform rotate(-45deg)
    position absolute
    top -100px
    left -100px

    +below('phone')
      display none

  &:after
    content ''
    width 100%
    height 350px
    position absolute
    bottom 0
    left 0
    bg('img', 'florianopolis-skyline.png')
    background-position left bottom
    z-index 1

    +below('phone')
      background-size 300%

  &-wrapper
    wrapper()
    display flex
    z-index 20
    position relative

    +below('phone')
      display block

  &-column-title
    flex-basis 30%

    +below('phone')
      margin-bottom 8em

    .button-ghost
      +below('phone')
        display none

  &-column-content
    flex 1

  &-title
    color $color-text
    font-weight bold
    font-size 7em
    margin 0

    +below('phone')
      font-size 5em

  &-description
    color #777
    font-weight normal
    font-size 1.6em
    margin 2em 0
    line-height 1.6

  &-list
    list-reset()
    padding-top 1em
    counter-reset section

    &-item
      padding-left 25em
      position relative
      margin-bottom 6em

      +below('phone')
        padding-left 0

      &:before
        counter-increment section
        content counter(section)
        font-size 13em
        position absolute
        left 1em
        top -10px
        line-height 1
        margin 0
        font-weight bold
        color #f0f0f0
        opacity .4

        +below('phone')
          display none

      &__title
        font-size 4.5em
        font-weight 600
        margin 0
        background-image linear-gradient(-45deg, $color-primary - 10%, $color-primary-alt)
        text-gradient()

        +below('phone')
          font-size 3.8em
          letter-spacing -.03em

      &__description
        font-weight normal
        font-size 1.5em
        line-height 1.6
        color #ccc

.speakers
  position relative
  padding 14em 0
  background-color #ececec

  &-wrapper
    wrapper()

  &-title
    text-align center

    span
      position relative
      display inline-block
      font-size 5em
      color $color-text
      margin 0
      font-weight bold
      z-index 2

      &:before
        content ''
        width 100%
        height 10px
        border-bottom 10px solid $color-primary
        transform rotate(-.7deg)
        position absolute
        bottom 0
        left 0
        z-index -1

    &__presenter
      margin-top 10em

      span
        &:before
          border-color #f5f5f5 + 30%

  &-list
    list-reset()
    margin-top 10em
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center

    &__presenter
      justify-content center
      margin-top 9em

    &-item
      position relative
      margin-bottom 4em
      background-color #fff
      width 48%
      padding 1.6em
      display flex
      overflow hidden

      +below('phone')
        width 98%

      &__status-off
        opacity .3

      &:before
        content ''
        width 100px
        height 100px
        background-color #ececec
        transform rotate(45deg)
        position absolute
        bottom -70px
        right -70px
        border-left 1px solid #ddd

      &__presenter
        background $color-primary-alt

        .speakers-list-item-content
          display flex
          flex-wrap wrap
          align-items center

        .speakers-list-item__title
          font-size 4em

          +below('phone')
            font-size 3em

        .speakers-list-item__company
          color #fff
          margin-top 0
          font-size 2em

        &:before
          border-color $color-primary-alt - 20%

      &-photo
        flex-basis 35%

      &-content
        flex 1
        padding-left 2em

      &__avatar
        max-width 100%

      &__title
        font-size 2.8em
        font-weight bold
        color $color-text
        margin 0
        letter-spacing -.03em

      &__company
        display block
        margin-top .3em
        font-size 1.6em
        color #aaa
        font-weight normal

      &__social
        margin 1.3em 0

        &-link
          display inline-block
          width 25px
          height @width
          background-position center center
          background-repeat no-repeat
          background-size 100% auto
          text-indent -9999em
          margin-right 10px
          transition opacity .3s ease

          &:hover
            opacity .7

          &.github
            background-image url($path-svg + 'icon-github.svg')

          &.twitter
            background-image url($path-svg + 'icon-twitter.svg')

      &__talk
        color $color-primary
        font-weight 600
        font-size 2.2em
        margin 0
        line-height 1.1

.location
  &-wrapper
    display flex

    +below('phone')
      display block

  &-column
    &.content
      flex-basis 45%
      background $color-primary-alt
      display flex
      justify-content flex-end

    &.photo
      position relative
      flex 1
      bg('img', 'hotel.jpg')
      background-size cover
      overflow hidden

      +below('phone')
        display none

      &:before
        content ''
        width 200px
        height 1000px
        background $color-primary-alt
        transform rotate(7deg)
        position absolute
        top -100px
        left -100px

        +below('desktop-small')
          height 1300px

        +below('phone')
          display none

  &-content
    padding-top 7em
    padding-bottom 7em
    width 80%

    +below('phone')
      width 100%
      padding-right 2em
      padding-left @padding-right

    &-discount
      margin-top 5em
      padding-top 2em
      border-top 1px solid rgba(#fff, .3)

      .button
        font-size 1.3em
        background #fff
        margin-left 1em
        color $color-text
        font-weight 600
        transition box-shadow .6s ease

        &:hover
          box-shadow 0 0 50px 10px rgba($color-primary-alt - 20%, .6)

      &__text
        margin .3em 0 1em
        font-size 1.4em
        line-height 1.6
        color #444

        strong
          font-weight 600

          &.up
            font-size 1.2em

      &__code
        display inline-block
        margin 1em 0
        font-size 1.5em
        padding .5em 1em
        color #444
        border 1px dashed #fff
        font-weight 600

    &-address
      position relative
      padding-left 10em

      &:before
        content ''
        width 70px
        height 100px
        position absolute
        top -7px
        left 0
        bg('svg', 'icon-location.svg')
        background-size 100% auto
        background-position 0 0

      .button
        font-size 1.6em
        background #fff
        margin-top 1em
        color $color-text
        font-weight 600
        transition box-shadow .6s ease

        &:hover
          box-shadow 0 0 50px 10px rgba($color-primary-alt - 20%, .6)

  &-title
    color $color-text
    font-size 4.5em
    font-weight bold
    margin 0
    letter-spacing -.05em

    +below('phone')
      font-size 4em

  &-description
    font-size 2em
    font-weight 600
    color $color-text
    margin .6em 0
    line-height 1.5

    +below('phone')
      font-size 1.6em

.schedule
  padding 10em 0 12em
  background #fff
  col-padding = 4em

  &-note
    text-align center
    color #ccc
    padding 0 2em
    font-size 1.3em
    line-height 1.8

  &-list
    list-reset()
    max-width 800px
    margin 0 auto
    padding 8em 0 4em

    +below('phone')
      padding-right 3em

    &-item
      display flex
      padding 3em 0 2em

      &-time
        position relative
        flex-basis 30%
        padding-right col-padding
        display flex
        align-items center
        justify-content flex-end

        +below('phone')
          padding-right 3em

        &:after
          content ''
          position absolute
          top 5px
          right 0
          width 0
          height 30px
          transform rotate(10deg)
          border-right 1px solid $color-primary-alt

          +below('phone')
            height 20px
            top 3px

      &-content
        flex 1
        padding-left col-padding

        +below('phone')
          padding-left 3em

      &__time
        font-size 3em
        font-weight bold
        color #ddd
        letter-spacing -.06em

        +below('phone')
          font-size 2.2em

      &__title
        font-size 3.5em
        margin 0
        padding 0
        background-image linear-gradient(-45deg, $color-text, $color-text + 30%)
        text-gradient()
        letter-spacing -.03em

        +below('phone')
          font-size 2.2em

      &__talk
        margin .3em 0 0 0
        padding 0
        font-size 1.6em
        font-weight normal
        color $color-text
        line-height 1.4

        +below('phone')
          font-size 1.4em

      &--talk
        padding 2em 0

        .schedule-list-item-time
          &:after
            display none

        .schedule-list-item__time
          display none

        .schedule-list-item__title
          background-image linear-gradient(-45deg, $color-primary - 10%, $color-primary-alt)

.tickets
  padding 10em 0
  bg('img', 'audience.jpg')
  background-size cover
  min-height 600px

  &-wrapper
    wrapper()
    text-align center

  &-title
    position relative
    text-align center
    padding-top 2.5em
    color $color-primary-alt
    font-size 5em
    margin 0

    &:before
      content ''
      width 70px
      height 105px
      position absolute
      top 0
      left 50%
      margin-left -(@width / 2)
      bg('svg', 'icon-ticket.svg')
      background-size 100% auto
      background-position 0 0

  &-description
    margin .5em 0
    font-size 4em
    color #fff
    font-weight 600
    text-align center

  &-note
    margin 0
    font-size 1.4em
    color #aaa
    font-weight normal
    text-align center
    line-height 1.5

    a
      color #eee
      border-bottom 1px solid #555
      text-decoration none
      padding-bottom 2px
      transition border .4s ease

      &:hover
        border-color $color-primary

  .button
    margin-top 3em
    font-size 2em
    font-weight 600

.support
  position relative
  background #fff
  padding 10em 0 25em

  &:after
    content ''
    width 100%
    height 350px
    position absolute
    bottom 0
    left 0
    bg('img', 'florianopolis-skyline.png')
    background-position left bottom
    z-index 1

    +below('phone')
      background-size 300%

  &-wrapper
    wrapper()

  &-title
    text-align center

    span
      position relative
      display inline-block
      font-size 4em
      color $color-text
      margin 0
      font-weight bold
      z-index 2

      +below('phone')
        font-size 3.6em

      &:before
        content ''
        width 100%
        height 10px
        border-bottom 10px solid #eee
        transform rotate(-.7deg)
        position absolute
        bottom 0
        left 0
        z-index -1

  &-list
    list-reset()
    padding 5em 0 10em
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    z-index 10
    position relative

    &.apoio
      .support-item
        margin 2em 1.4em

      .support-link
        img
          max-width 100px

  &-item
    margin 3.5em 1em

  &-link
    text-decoration none
    border 0

    img
      max-width 300px

.footer
  padding 5em 0
  background-color #ececec

  &-wrapper
    wrapper()
    display flex

    +below('phone')
      display block

  &-column
    flex 1
    margin 2em 0

    &.coc
      +below('phone')
        text-align center

    &.email
      text-align center

    &.social
      text-align right

      +below('phone')
        text-align center

  &-email
    color $color-text
    font-size 1.4em
    font-weight 600

  &-link
    color $color-text
    font-size 1.4em
    text-decoration none
    border-bottom 1px solid #ddd
    padding-bottom 2px
    transition border .4s ease

    &:hover
      border-color $color-primary-alt

  &-social
    list-reset()

    &-item
      display inline-block
      vertical-align top
      margin 0 3px

      +below('phone')
        margin 0 .7em

    &-link
      display block
      text-indent -9999em
      width 25px
      height @width
      background-position 0 0
      background-repeat no-repeat
      background-size 100% auto
      font-size 0
      text-decoration none
      border 0
      transition opacity .4s ease

      &:hover
        opacity .7

      &.twitter
        background-image url($path-svg + 'icon-twitter-circle.svg')

      &.facebook
        background-image url($path-svg + 'icon-facebook-circle.svg')

      &.github
        background-image url($path-svg + 'icon-github-circle.svg')

      img
        max-width 50px
